$size:100px;
$path-media:"../../media/";
@mixin displayed {
 display: none;   
}
@mixin imgsetup {
    width: 100%;
    object-fit: fill;
    padding: auto;
    margin: auto;
}
// #formtest{
//     @include displayed();
// }
// body{
//     @include displayed();
// }
#ammoge{
@include imgsetup();
}
*{
 padding: 0;
 margin: 0;   
}
.circle{
    width: $size;
    height: $size;
    
background-color: black;
}
.media{
    img{
        width: 100%;
        object-fit: cover;

    }
}